@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Montserrat&display=swap');

h4{
    font-family: 'Bungee Spice', cursive;
}
a{
    text-decoration:none!important;
}
.banner{
    height: 100vh;
    background: url(../img/banner.JPG);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
header{
    max-width: 100%;
    height: 10vh;
}
.bg-color{
    height: 100vh;
    background:rgba(0,0,0,0.6);
}

.btnlinks button{
    width: 200px;
    min-width: 100px;
    height: 40px;
    border-radius: 20px;
    color: rgb(219, 213, 212);
    border: none;
    border: 1px solid  rgb(219, 213, 212); 
    /* background: rgb(48, 3, 3); */
    background-color: transparent;
}
.movea, .moveb, .movec{
    animation: moveright .7s linear;
    visibility: hidden;
    animation-fill-mode: forwards;
}
.movea{
    animation-delay: 1s;
}
.moveb{
    animation-delay: 2s;    
}
.movec{
    animation-delay: 3s;
}
svg{
    fill:rgb(236, 170, 26);
    height: 50px;
    width: 50px;
}
.nav-svg svg{
    fill:rgb(231, 194, 101);
    height: 40px;
    width: 40px;
}


/* animaton */
@keyframes moveright{
    0%{
        transform:translateX(-150px);
        visibility: visible;
    }
    100%{
        transform:translateX(0);
        visibility: visible;
    }
}
