@media only screen and (min-width: 992px){
    .btnlinks button{
        width: 300px;
        /* min-width: 150px; */
        height: 50px;
        border-radius: 40px;
        /* color: rgb(219, 213, 212);
        border: none;
        border: 1px solid  rgb(219, 213, 212); 
        /* background: rgb(48, 3, 3); */
       
    }
}